@import "home.scss";
@import "~bootstrap/scss/bootstrap";
@mixin grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 9px;
}


body {
    color: white!important;
    background-color: #15202B !important;
    .card-vendor{
        background-color: #3B556D !important ;
    }
}

nav{
    color:white;
}

.image-src{
    max-height: 200px;
    max-width: 200px;
}

.first-div-vendor{
    background-color: #3B556D ;
    padding: 0.5rem 1rem ;
    border-radius: 6px;
}